<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Technologies - React Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        React MCQs Interview

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.interviewbit.com/react-mcq/" target="_blank">React Tech Interview Preparation ( InterviewBit ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.javatpoint.com/reactjs-mcq" target="_blank">React Tech Interview Preparation ( JavaPoint ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.includehelp.com/mcq/reactjs-multiple-choice-questions-mcqs.aspx" target="_blank">React Tech Interview Preparation ( includehelp ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.sanfoundry.com/react-js-mcq-multiple-choice-questions/" target="_blank">React Tech Interview Preparation ( Sanfoundry ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.onlineinterviewquestions.com/react-js-mcq-set-1/" target="_blank">React Tech Interview Preparation ( OnlineInterviewQuestions ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://tutorialslink.com/mcq-quiz/react-mcq-quiz-multiple-choice-questions-and-answers" target="_blank">React Tech Interview Preparation ( TutorialsLink ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.freetimelearning.com/online-quiz/react-js-quiz.php" target="_blank">React Tech Interview Preparation ( FreeTimeLearning ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.w3schools.com/react/react_quiz.asp" target="_blank">React Tech Interview Preparation ( W3Schools ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://massmcqs.com/react-js-most-important-mcqs/" target="_blank">React Tech Interview Preparation ( MassMcqs ) MCQs</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                        React Interview References
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=0cvp_yY-818&ab_channel=TanayPratap" target="_blank">React Interview Preparation - React Concepts By ( Tanay Pratap ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=efDNJrtifEo&ab_channel=HappyRawat" target="_blank">React Interview Preparation - React Concepts By ( Happy Rawat ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=eQmrCEGFgL4&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&ab_channel=SahosoftSolutions" target="_blank">React Interview Preparation - React Concepts By ( Sahosoft Solutions ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/@interviewhappy/playlists" target="_blank">React Interview Preparation - React Concepts By ( Interview Happy ) </a>
                                        </li>

                                        <hr>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is React?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=eQmrCEGFgL4&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&ab_channel=SahosoftSolutions" target="_blank">What is React? Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Difference Between JavaScript and JavaScript Library?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=9Jmc8uL9jlA&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=2&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Difference Between Library and Framework?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=9qxEXQGJCXQ&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=4&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Difference Between React and Angular?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=gM3dJFP7xsc&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=4&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Whay React? What are Features of React?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=mrXCER2-Bzw&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=5&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Disadvantages of React?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Dr1j4U3MBzo&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=6&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is SPA? Single Page Application</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=UdK2et2ta5E&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=7&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What you Should already know to Learn React?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=W6qXxHBtaaA&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=8&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>How to Setup React JS Project Using CDN ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=_8W_TXG_rMY&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=10&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Basic Requirement to Setup Development Environment To Work with React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=YWRmDMpjuNw&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=10&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Visual Studio Code to work with React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Ap90UMwzYxY&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=11&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is NPM ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=LfcmFyk3hE4&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=12&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is React Developer Tool and How to install ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=I_jZfDxufIE&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=13&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>How to setup React Project using NPM ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=z6x1H30cBg8&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=14&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is React Project Folder Structure ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=7Gxts0erasI&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=15&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Difference between DOM and Virtual DOM ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=t6cxg55NKJM&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=16&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>How to Module Import Export in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=qkM2KM4G9qo&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=17&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Strict Mode in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=2xne3_PMp04&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=19&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>How you will create first React App ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=qSA5T5tfFCk&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=19&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What are Render(), CreateElement() and ReactDOM.render() Methods in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=iul_CtA5N9o&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=20&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What are JSX and XML in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=POpwLldKGCc&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=21&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Component in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=XeyKW9pr7FU&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=24&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Function Component in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=auxpcsXyfTU&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=25&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Class Component in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=1WKLgIeIzas&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=26&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Component Constructor in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=BK0DIUVdFKs&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=27&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Components in Component in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=PjkB3graQ0E&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=28&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What are Props in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=UMN7S5zyhaQ&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=29&ab_channel=SahosoftSolutions" target="_blank">Part 1 - Explained By ( SahoSoft Solutions )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=yddOapmtpBk&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=30&ab_channel=SahosoftSolutions" target="_blank">Part 2 - Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>How to Pass Data From Parent To Child Component in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=2bHfpKNC9vc&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=31&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What are Props in Constructor in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=2WyJj8neNxM&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=32&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What are Default Props in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Sicudrpz8mU&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=33&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What are Children Props in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=vBLL6vLGsJs&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=34&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What are PropTypes in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=8c6ydmLho8M&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=35&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What are Props Validation in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=bagfAFBjeBQ&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=36&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Which functions is First Class citizens in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=hbmGqvPhJaI&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=37&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What are CallBack Functions in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=6iPNawx64uk&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=38&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Higher Order Function in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=9tq9HUMwO_o&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=39&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Array De Structuring in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=zEB7d73Cs7g&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=40&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Object De Structuring in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=ZLJ7xDE5qwE&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=41&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Default Parameter in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=9IDLqD_JhwU&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=42&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Rest Parameter in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=4bLWVb2zIqA&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=43&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Fat Arrow Function in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=rSXviwClazA&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=44&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Spread Operator in Array in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=F2LG01Yw6-s&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=45&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Spread Operator in Object in React ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=83fBGg_1r6E&list=PL_qizAfcpJ-O_QOuz2hExH8FRnTcHlYuA&index=46&ab_channel=SahosoftSolutions" target="_blank">Explained By ( SahoSoft Solutions )</a>
                                        </li>










                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
