<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Technologies - Angular Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        Angular MCQs Interview

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.interviewbit.com/angular-mcq/" target="_blank">Angular Tech Interview Preparation ( InterviewBit ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.javatpoint.com/angular-mcq" target="_blank">Angular Tech Interview Preparation ( JavaPoint ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.freetimelearning.com/online-quiz/angular-quiz.php" target="_blank">Angular Tech Interview Preparation ( FreetimeLearning ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.vskills.in/practice/angular-10-mcq-questions" target="_blank">Angular Tech Interview Preparation ( V-Skills ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.includehelp.com/mcq/angularjs-multiple-choice-questions-mcqs.aspx" target="_blank">Angular Tech Interview Preparation ( IncludeHelp ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.sanfoundry.com/angular-js-mcq-multiple-choice-questions/" target="_blank">Angular Tech Interview Preparation ( SanFoundary ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://tutorialslink.com/mcq-quiz/angular-js-mcq-quiz-multiple-choice-questions-and-answers" target="_blank">Angular Tech Interview Preparation ( TutorialsLink ) MCQs</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                        Angular Interview References
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=eGv00I7Uckg&list=PL3aZbxdSiCbNx-4OlJZmb4phJgx_ZbzEd&ab_channel=InterviewHappy" target="_blank">Angular Interview Preparation By ( Interview Happy ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=-jeoyDJDsSM&pp=ygUdYW5ndWxhciBpbnRlcnZpZXcgcHJlcGFyYXRpb24%3D&ab_channel=Questpond" target="_blank">Angular Interview Preparation By ( Questpond ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=bwRfGlpd1vo&ab_channel=edureka%21" target="_blank">Angular Interview Preparation By ( Edureka ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=4UgronUwjsU&ab_channel=UiDevGuide" target="_blank">Angular Interview Preparation By ( Ui Dev Guide ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=R8uQQcl7F9o&list=PL_qizAfcpJ-NVFv5JGxzJkc8YC0O270fX&ab_channel=SahosoftSolutions" target="_blank">Angular Learning By ( Sahosoft Solutions ) </a>
                                        </li>


                                        <hr>

                                        <!-- Laravel Request Life Cycle -->

                                        <!-- <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is API ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.includehelp.com/mcq/laravel-mcqs.aspx" target="_blank">Laravel Tech ( Include Help ) MCQs</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
