<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            OOP Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        OOP MCQs Interview

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://letsfindcourse.com/technical-questions/php-questions-answers/php-object-mcq" target="_blank">MCQs Preparation From Link 1</a>
                                        </li>
                                        <li>
                                            <a href="https://www.sanfoundry.com/php-questions-answers-advanced-object-oriented-php/" target="_blank">MCQs Preparation From Link 2</a>
                                        </li>
                                        <li>
                                            <a href="https://engineeringinterviewquestions.com/mcqs-on-basics-of-object-oriented-php-1-answers/" target="_blank">MCQs Preparation From Link 3</a>
                                        </li>
                                        <li>
                                            <a href="https://www.allindiaexams.in/engineering/cse/php-questions-and-answers/object-oriented-php" target="_blank">MCQs Preparation From Link 4</a>
                                        </li>
                                        <li>
                                            <a href="https://www.atnyla.com/general-knowledge/91/220" target="_blank">MCQs Preparation From Link 5</a>
                                        </li>
                                        <li>
                                            <a href="https://compsciedu.com/mcq-questions/PHP/Object-Oriented-PHP/6" target="_blank">MCQs Preparation From Link 6</a>
                                        </li>
                                        <li>
                                            <a href="https://www.proprofs.com/quiz-school/quizshow.php?title=php-oop" target="_blank">MCQs Preparation From Link 7</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading"
                                    >
                                        OOP Interview References

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading"
                                class="collapse"
                                aria-labelledby="referencesHeading"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.linkedin.com/feed/update/urn:li:activity:7093579523161489410/" target="_blank">Linked In Post for OOP Concepts</a>
                                        </li>
                                        <li>
                                            <a href="https://www.w3schools.com/php/php_oop_classes_abstract.asp#:~:text=Abstract%20classes%20and%20methods%20are,not%20implemented%20in%20the%20code." target="_blank">W3Schools OOP Concepts PHP</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/playlist?list=PLk4e9P4TKelQ0akE8uu36QoJttlTOHoGv" target="_blank">OOP Interview - Kumar Technical - Youtube Playlist</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                        1. What is abstract class ?
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=U63hvTpAc9c&list=PLk4e9P4TKelQ0akE8uu36QoJttlTOHoGv&index=3&ab_channel=KumarTechnicalTutorial" target="_blank">Kumar Technical Tutorial Explaination</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree"
                                    >
                                        2. What is OOPS, objects, class with examples ?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseThree"
                                class="collapse"
                                aria-labelledby="headingThree"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=G4tThm-QzbI&list=PLk4e9P4TKelQ0akE8uu36QoJttlTOHoGv&index=3&ab_channel=KumarTechnicalTutorial" target="_blank">Kumar Technical Tutorial - Explaination</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading"
                                    >
                                        3. What is inheritance, types of Inheritance with examples?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=H7g6L8ETLJI&list=PLk4e9P4TKelQ0akE8uu36QoJttlTOHoGv&index=3&ab_channel=KumarTechnicalTutorial" target="_blank">Kumar Technical Tutorial - Explaination</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading3">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading3"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading3"
                                    >
                                        4. What is encapsulation, benefits of encapsulation with examples?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading3"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading3"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=aaN9i5t2IQA&list=PLk4e9P4TKelQ0akE8uu36QoJttlTOHoGv&index=4&ab_channel=KumarTechnicalTutorial" target="_blank">Kumar Technical Tutorial - Explaination</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading1">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading1"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading1"
                                    >
                                        5. What is polymorphism, with examples and types of polymorphism?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading1"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading1"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=nUORTc2WaNk&list=PLk4e9P4TKelQ0akE8uu36QoJttlTOHoGv&index=5&ab_channel=KumarTechnicalTutorial" target="_blank">Kumar Technical Tutorial - Explaination</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading5">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading5"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading5"
                                    >
                                        6. What is overloading with examples, overriding and types of overloading ?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading5"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading5"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=6Vqy3bM4gpM&list=PLk4e9P4TKelQ0akE8uu36QoJttlTOHoGv&index=6&ab_channel=KumarTechnicalTutorial" target="_blank">Kumar Technical Tutorial - Explaination</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading6">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading6"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading6"
                                    >
                                        7. Difference between overloading and overriding with examples?
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading6"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading6"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=jyVs5yFxH90&list=PLk4e9P4TKelQ0akE8uu36QoJttlTOHoGv&index=7&ab_channel=KumarTechnicalTutorial" target="_blank">Kumar Technical Tutorial - Explaination</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading7">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading7"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading7"
                                    >
                                        8. Difference between abstract class and encapsulation?
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading7"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading7"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=tG2F7xMBdCo&list=PLk4e9P4TKelQ0akE8uu36QoJttlTOHoGv&index=8&ab_channel=KumarTechnicalTutorial" target="_blank">Kumar Technical Tutorial - Explaination</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading8">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading8"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading8"
                                    >
                                        9. Difference between interface and abstract class?
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading8"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading8"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=rXmWPFWdXH0&list=PLk4e9P4TKelQ0akE8uu36QoJttlTOHoGv&index=9&ab_channel=KumarTechnicalTutorial" target="_blank">Kumar Technical Tutorial - Explaination</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading9">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading9"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading9"
                                    >
                                        10. What is access modifiers, Why we need access modifiers, explain each access modifier ?
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading9"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading9"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=rDAtaiAzqD0&list=PLk4e9P4TKelQ0akE8uu36QoJttlTOHoGv&index=10&ab_channel=KumarTechnicalTutorial" target="_blank">Kumar Technical Tutorial - Explaination</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading9">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading10"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading10"
                                    >
                                        11. What is Trait in PHP ?
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading10"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading10"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=YYnVhLDD6qg&ab_channel=NasirSoft" target="_blank">Nasir Soft - Explaination</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
