<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase;">Kashif Interview Portal</h1>
        <a href="https://alikashi543211.github.io/KashiFolio/" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-eye fa-sm text-white-50"></i> Kashif Ali Profile</a>
    </div>


    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header">
                    Kashif Ali - Full Stack Developer
                </div>
                <div class="card-body p-0">
                    <img src="assets/sb2_admin/images/profile.png" alt="" class="img-fluid">
                </div>
                <div class="card-footer">
                    Email : <strong>alikashi54321@gmail.com</strong><br>
                    Experience : <strong>4+ Years</strong>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>
<!-- /.container-fluid -->
