<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Problem Solving - String Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                    String Problem Solving Interview Preparation
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>

                                        <li>
                                            <a href="https://www.youtube.com/watch?v=jVlHTNps5TU&list=PLzffTJx5aHaRKuTO6fN2_hRKB1MuRMBYd&ab_channel=PrakashShukla" target="_blank">String Problem Solving Interview Preparation - Solutions By ( ParakashShukla ) </a>
                                        </li>

                                        <hr>

                                        <!-- Laravel Request Life Cycle -->

                                        <!-- <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel Query Builder ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=dYWpfB8IeVk&list=PLkyrdyGDWthC-yd9n8R3CEauJC4sFl-kj&index=7&ab_channel=codemystify" target="_blank">Laravel Query Builder ( Codemystify )</a>
                                        </li> -->


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
