<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Databases - Laravel SQL Query Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        Laravel SQL Query Server MCQs Interview

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.examtiger.com/mcq/sql-query-language-4/" target="_blank">SQL Query Tech Interview Preparation ( Exam Tiger ) MCQs</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                    SQL Query Server Interview References
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>

                                        <li>
                                            <a href="https://www.youtube.com/watch?v=1uUXaCDqKlo&list=PL-RExUajdVAFULjukfKTTUJ0NK91n3Zqr&ab_channel=AtifNaseem" target="_blank">Laravel SQL Query Interview Preparation - Queries By ( AtifNaseem ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=ACqpy4XFI14&list=PLs20WIPqzFC4_HynK6wTRIKEqKHiZYpa4&ab_channel=advancedwebHindi" target="_blank">Laravel SQL Query Interview Preparation - Queries By ( Advance Web in Hindi ) </a>
                                        </li>


                                        <hr>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel Query Builder ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=dYWpfB8IeVk&list=PLkyrdyGDWthC-yd9n8R3CEauJC4sFl-kj&index=7&ab_channel=codemystify" target="_blank">Laravel Query Builder ( Codemystify )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=1uUXaCDqKlo&list=PL-RExUajdVAFULjukfKTTUJ0NK91n3Zqr&ab_channel=AtifNaseem" target="_blank">Laravel SQL Query Interview Preparation - Queries By ( AtifNaseem ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=uq4NXqc14v0&ab_channel=YahooBaba" target="_blank">Laravel SQL Query Interview Preparation - Queries By ( Yahoo Baba ) </a>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is difference between Eloquent, Query Builder and Raw SQL ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=3TJfR1Ta4GU&ab_channel=LaravelDaily" target="_blank">Difference Between Eloquent, Query Builder and Raw SQL ( Laravel Daily )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=7rps9hBCigM&ab_channel=CareerDevelopmentLab" target="_blank">Difference Between Eloquent, Query Builder and Raw SQL 32 ( Career Development Lab )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=ptRP_mFxpEg&ab_channel=CareerDevelopmentLab" target="_blank">Difference Between Eloquent, Query Builder and Raw SQL ( Career Development Lab )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=YMg9FPqsbFM&ab_channel=IHateProgramming" target="_blank">Difference Between Eloquent, Query Builder and Raw SQL ( I Hate Programming )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=n_rbSOJfcAU&ab_channel=EmadZaamout" target="_blank">Difference Between Eloquent, Query Builder and Raw SQL ( Imad Zamout )</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
