<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Databases - MySQL Server Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        MySQL Server MCQs Interview

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.w3schools.com/mysql/mysql_quiz.asp" target="_blank">MySQL Tech Interview Preparation ( W3Schools ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.includehelp.com/mcq/mysql-mcqs.aspx" target="_blank">MySQL Tech Interview Preparation ( IncludeHelp ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.sanfoundry.com/1000-mysql-database-questions-answers/" target="_blank">MySQL Tech Interview Preparation ( SanFoundry ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.onlineinterviewquestions.com/mysql-mcq/" target="_blank">MySQL Tech Interview Preparation ( Online Interview Questions ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://engineeringinterviewquestions.com/mysql-objective-questions-and-answers/" target="_blank">MySQL Tech Interview Preparation ( Engineering Interview Questions ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gkseries.com/mcq-on-mysql/multiple-choice-questions-and-answers-on-mysql" target="_blank">MySQL Tech Interview Preparation ( Gk Series ) MCQs</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                        MySQL Server Interview References
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=0xg4X79yHW4&ab_channel=GateSmashers" target="_blank">MySQL Interview Preparation - Concepts By ( GateSmashers ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=SEdAF8mSKS4&ab_channel=Questpond" target="_blank"> MySQL Interview Preparation - Concepts By ( Questpond )  </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=bfDhm6tTXtU&t=621s&ab_channel=HappyRawat" target="_blank"> MySQL Interview Preparation - Concepts By ( Happy Rawat ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=aGGJLDgIrD8&ab_channel=RishabhMishra" target="_blank"> MySQL Interview Preparation - Concepts By ( RishabMishra ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=pKFo8Mqp-cU&ab_channel=NitManTalks" target="_blank"> MySQL Interview Preparation - Concepts By ( NitManTalks ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=VAOpMH_iXMA&ab_channel=KSRDatavizon" target="_blank"> MySQL Interview Preparation - Concepts By ( KSR Datavizon ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Iv9qBz-cyVA&ab_channel=AnkitBansal" target="_blank"> MySQL Interview Preparation - Concepts By ( Ankit Bansal ) </a>
                                        </li>


                                        <hr>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Indexing in DBMS ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=E--yzX05_k8&ab_channel=GateSmashers" target="_blank">What is indexing in Database by ( GateSmashers )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Lo7YEw93U_E&pp=ygUcd2hhdCBpcyBpbmRleGluZyBpbiBkYXRhYmFzZQ%3D%3D&ab_channel=5MinutesEngineering" target="_blank">What is indexing in Database by ( 5MinutesEngineering )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=lYh6LrSIDvY&ab_channel=LaithAcademy" target="_blank">What is indexing in Database by ( LaithAcademy )</a>
                                        </li>

                                        <li>
                                            <a href="https://www.youtube.com/watch?v=vRJM1sDrocM&ab_channel=YahooBaba" target="_blank">What is indexing in Database by ( Yahoo Baba )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Difference between Drop, Delete, Truncate in Database ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=_m1aJdD-oD8&pp=ygUuRGlmZmVyZW5jZSBiZXR3ZWVuIGRyb3AgYW5kIGRlbGV0ZSBpbiBkYXRhYmFzZQ%3D%3D&ab_channel=GateSmashers" target="_blank">Difference between Drop, Delete, Truncate in Database ? by ( GateSmashers )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Gkp9_5Od2o4&pp=ygUuRGlmZmVyZW5jZSBiZXR3ZWVuIGRyb3AgYW5kIGRlbGV0ZSBpbiBkYXRhYmFzZQ%3D%3D&ab_channel=CodeEra" target="_blank">Difference between Drop, Delete, Truncate in Database ? by ( CodeEra )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=nIavE87HWYM&ab_channel=EasyEngineeringClasses" target="_blank">Difference between Drop, Delete, Truncate in Database ? by ( EasyEngineeringClasses )</a>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Constrainsts in Database SQL ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=PcMr6xoundk&ab_channel=GateSmashers" target="_blank">Constraints in Database ? by ( GateSmashers )</a>
                                        </li>



                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
