<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Laravel Tech Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        Laravel MCQs Interview

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://bbbootstrap.com/mcq/laravel-mcq-45656788" target="_blank">Laravel Tech ( BB-Bootstrap ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.onlineinterviewquestions.com/laravel-mcq-multiple-choice-questions/" target="_blank">Laravel Tech ( OnlineInterviewQuestions ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.freeonlinetest.in/question-and-answer/programming-skill/laravel-question-online-test" target="_blank">Laravel Tech ( FreeOnlineTest ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.instms.com/laravel/middleware" target="_blank">Laravel Tech ( InsTms ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.includehelp.com/mcq/laravel-mcqs.aspx" target="_blank">Laravel Tech ( Include Help ) MCQs</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading"
                                    >
                                        Laravel Interview References

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading"
                                class="collapse"
                                aria-labelledby="referencesHeading"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.adaface.com/blog/laravel-interview-questions/" target="_blank">Laravel Tech - Beginner and Experienced Interview Preparation</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=CKsEwe0oPa0&list=PLT51dtioU1pMFovNbZHkHdJEzU5RNJwa2&ab_channel=Ajayyadav" target="_blank">Laravel Tech - Interview Preparation With Ajay Yadav</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=xSbYNZxCuLk&list=PLLUtELdNs2ZbzB_1Jdp_yFcORwOfWP8RU&ab_channel=StackDevelopers" target="_blank">Laravel Tech - Interview Preparation With ( Stack Developers ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=9KSKsPKD1gA&t=514s&ab_channel=WebTechKnowledge" target="_blank">Laravel Tech - Interview Preparation With ( Web Tech Knowledge ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Oo_x_JiB12k&list=PLW-OkKToUav499Cth6FWRHL21wUSz1mgi&ab_channel=ProgrammingPath" target="_blank">Laravel Tech - Interview Preparation With ( Programming Path ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/@Webappfix/playlists" target="_blank">Laravel Tech - Helpful Guide for in Laravel Work ( Web App Fix ) </a>
                                        </li>

                                        <hr>
                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel Request Life Cycle</strong>
                                        </li>
                                        <li>
                                            <a href="https://laravel.com/docs/10.x/lifecycle" target="_blank">Laravel Request Life Cycle By Laravel Documentation</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=HLe7BMmS014&t=60s&ab_channel=TheTestCoder" target="_blank">Laravel Request Life Cycle By ( The Test Coder )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=IhC4v-vmNbk&t=48s&ab_channel=ZahidCodingStudio" target="_blank">Laravel Request Life Cycle By ( Zahid Coding Studio )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=3Zc-bRWLFwU&ab_channel=codeeasyweb" target="_blank">Laravel Request Life Cycle By ( Code Easy Web )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=3Zc-bRWLFwU&ab_channel=codeeasyweb" target="_blank">Laravel Request Life Cycle Flow By ( Leela Web Dev )</a>
                                        </li>

                                        <!-- Service Providers and Containers -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Service Providers and Service Containers</strong>
                                        </li>

                                        <li>
                                            <a href="https://www.youtube.com/watch?v=PGVqkEZiUoc&t=57s&ab_channel=Bitfumes" target="_blank">Laravel Service Containers By BitFumes</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=D9_IUaPVp9Y&list=PL7xcqm3b9zga46n9mVtaGasLjfuG5Ff2s&index=3&ab_channel=codeeasyweb" target="_blank">Laravel Service Containers By ( Code Easy Web )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=64sG_J_kiPM&list=PL7xcqm3b9zga46n9mVtaGasLjfuG5Ff2s&index=3&ab_channel=codeeasyweb" target="_blank">Laravel Service Providers By ( Code Easy Web )</a>
                                        </li>

                                        <li>
                                            <a href="https://www.youtube.com/watch?v=1AxQNDOJTBw&ab_channel=Bitfumes" target="_blank">Laravel Service Providers By BitFumes</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Lf6R5oDtkFo&ab_channel=Acadea.io" target="_blank">Laravel Service Container and Service Providers By Acadea.io</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=86mcsAUi3M8&t=108s&ab_channel=ShishirSharma" target="_blank">Laravel Service Container and Service Providers By ( Shishir Sharma )</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Ls3ELZPt37Q&ab_channel=Ajayyadav" target="_blank">Laravel Service Provider and Service Container By Ajay Yadav</a>
                                        </li>
                                        <li>
                                            <a href="https://laravel.com/docs/10.x/container" target="_blank">Laravel Service Container By Laravel Documentation</a>
                                        </li>
                                        <li>
                                            <a href="https://laravel.com/docs/10.x/providers" target="_blank">Laravel Service Providers By Laravel Documentation</a>
                                        </li>
                                        <li>
                                            <a href="https://farhan.dev/laravel/laravel-service-container-and-service-providers-explained/" target="_blank">Laravel Service Container By Farhan Developer</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=_z9nzEUgro4&list=PLpzy7FIRqpGD5pN3-Y66YDtxJCYuGumFO&index=1&ab_channel=Coder%27sTape" target="_blank">Laravel Service Container By ( Coders Tape )</a>
                                        </li>


                                        <!-- Facades in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Facades in Laravel</strong>
                                        </li>
                                        <li>
                                            <a href="https://laravel.com/docs/10.x/facades" target="_blank">Facades in Laravel By Laravel Documentation</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=zR6JnwH7MSQ&list=PLpzy7FIRqpGD5pN3-Y66YDtxJCYuGumFO&index=5&ab_channel=Coder%27sTape" target="_blank">Facades in Laravel By ( Coders Tape )</a>
                                        </li>


                                        <!-- Polymorphic Relationships in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Poloymorhphic Relationships in Laravel</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=C7T1689IvPQ&list=PLpzy7FIRqpGD5pN3-Y66YDtxJCYuGumFO&index=3&pp=iAQB&ab_channel=Coder%27sTape" target="_blank">Polymorphic Relationships in Laravel By  ( Coders Tape ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=uWIXZW26M2c&ab_channel=ProgrammingExperience" target="_blank">Polymorphic Relationships in Laravel By  ( Coders Tape ) </a>
                                        </li>


                                        <!-- Macros in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Macros in Laravel</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=S8nz1JqbT9M&list=PLpzy7FIRqpGD5pN3-Y66YDtxJCYuGumFO&index=6&ab_channel=Coder%27sTape" target="_blank">Macros in Laravel By ( Coders Tape ) </a>
                                        </li>

                                        <!-- Repositary Patterns in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Repositary Patterns in Laravel</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=93ZhGkFIwbA&list=PLpzy7FIRqpGD5pN3-Y66YDtxJCYuGumFO&index=8&ab_channel=Coder%27sTape" target="_blank">Laravel Repositary Patterns By ( Coders Tape ) </a>
                                        </li>

                                        <!-- Pipelines in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Pipelines in Laravel</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=7XqEJO-wt7s&list=PLpzy7FIRqpGD5pN3-Y66YDtxJCYuGumFO&index=6&pp=iAQB&ab_channel=Coder%27sTape" target="_blank">Laravel Pipelines By ( Coders Tape ) </a>
                                        </li>

                                        <!-- View Composers Patterns in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel View Composers</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=7QWZxjgvEQc&list=PLpzy7FIRqpGD5pN3-Y66YDtxJCYuGumFO&index=2&pp=iAQB&ab_channel=Coder%27sTape" target="_blank">View Composers in Laravel By ( Coders Tape ) </a>
                                        </li>


                                        <!-- Lazy Collection and PHP Generator in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel Lazy Collection and PHP Generator</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=yRpaMx3vvAw&list=PLpzy7FIRqpGD5pN3-Y66YDtxJCYuGumFO&index=8&ab_channel=Coder%27sTape" target="_blank">Lazy Collection and PHP Generator in Laravel By ( Coders Tape ) </a>
                                        </li>


                                        <!-- Soft Deletes in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel Soft Deletes</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=XPyTHfDCX_A&list=PLpzy7FIRqpGD5pN3-Y66YDtxJCYuGumFO&index=9&ab_channel=Coder%27sTape" target="_blank">Soft Deletes in Laravel By ( Coders Tape ) </a>
                                        </li>


                                        <!-- Notifications in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel Notifications</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=upKOwoe8LsM&list=PLpzy7FIRqpGD5pN3-Y66YDtxJCYuGumFO&index=10&ab_channel=Coder%27sTape" target="_blank">Notifications in Laravel By ( Coders Tape ) </a>
                                        </li>


                                        <!-- Events and Listners in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel Events & Listners</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=vewcmfCnYLY&ab_channel=AndrewSchmelyun" target="_blank">Events & Listners in Laravel By ( AndrewSchmelyun ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=DvoaU6cQQHM&ab_channel=LaravelDaily" target="_blank">Which is Better in Events & Observers in Laravel By ( LaravelDaily ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=K66ulWMj_O0&ab_channel=Laravel" target="_blank">Events and Listners in Laravel By ( Laravel ) </a>
                                        </li>


                                        <!-- Events and Listners in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel Observers</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=KcpXkHIciys&ab_channel=Ajayyadav" target="_blank">Observers in Laravel By ( Ajay Yadav ) </a>
                                        </li>

                                        <!-- Events and Listners in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Broadcasting Events in Laravel</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=xKru8j9LXjA&ab_channel=Laravel" target="_blank">Broadcasting Events in Laravel By ( Laravel ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=NMstI0hghnE&ab_channel=Acadea.io" target="_blank">Broadcasting Events and Websocket Channels in Laravel By ( Acadea.io ) </a>
                                        </li>


                                        <!-- Events and Listners in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Websockets in Laravel</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=DIA1CJhH9dk&ab_channel=Acadea.io" target="_blank">Websockets in Laravel By ( Acadea.io ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=NMstI0hghnE&ab_channel=Acadea.io" target="_blank">Broadcasting Events and Websocket Channels in Laravel By ( Acadea.io ) </a>
                                        </li>


                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel Microservices</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=SzsPe_QX__c&ab_channel=ScalableScripts" target="_blank">Events & Listners in Laravel By ( AndrewSchmelyun ) </a>
                                        </li>


                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel Queue and Caching</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=no425pPWpD4&list=PLSfH3ojgWsQqnHBstBTdzD8ho0_2c7iez&ab_channel=Acadea.io" target="_blank">Laravel Queue and Cache Playlist ( Acadea.io ) </a>
                                        </li>

                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>How to set rate limit in Laravel ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=GdJvMAw1kT0&ab_channel=ProgrammingExperience" target="_blank">How to set rate limit in Laravel? ( Programming Experience ) </a>
                                        </li>

                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Reverse Routing in Laravel ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=eM-d0IjITTI&ab_channel=ProgrammingPath" target="_blank">What is reverse routing in Laravel? By ( Programming Path ) </a>
                                        </li>

                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is SOLID Design Principle in Laravel ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=4Zy8b2VKR2E&list=PL1TrjkMQ8UbWsspx0ABrsWl6ENnLEq9AH&ab_channel=QiroLab" target="_blank">Solid Design Principle Concepts By ( QiroLab ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=ankGs_Zkf70&ab_channel=Ajayyadav" target="_blank">Solid Code Design Principle Concepts By ( Ajay Yadav ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=fvNTJang7l4&list=PLR2qQy0Zxs_UysCZpV98LnZbloP10zxZe&index=4&ab_channel=Codepur" target="_blank">Solid Code Design Principle Concepts By ( CodePur ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=x1fqWjG8RVE&ab_channel=CodewithRSV" target="_blank">Solid Code Design Principle Concepts By ( Code With RSV ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=HT3TgUABtc8&list=PL3aZbxdSiCbOO77O-zc7tGwviBM8-D5YY&ab_channel=InterviewHappy" target="_blank">SOLID Principle Playlist Concepts By ( Interview Happy ) </a>
                                        </li>


                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Queues and Jobs in Laravel ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=TIXkLiyz6sM&ab_channel=Webappfix" target="_blank">Queues and Jobs in Laravel Concepts By ( Webappfix ) </a>
                                        </li>


                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Laravel Echo ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=4L_JQywyNIs&list=PLqf3pJ1mc7x3_xMuvLhPa2wyrTgpTGFi1&ab_channel=Webappfix" target="_blank">Laravel Echo Concept By ( Webappfix ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=2PTgJwxf6UI&ab_channel=Bitfumes" target="_blank">Laravel Echo Concept By ( BitFumes ) </a>
                                        </li>


                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is differance between laravel sanctum and passport ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=mdyoNwfIS80&ab_channel=ProgramWithGio" target="_blank">Differance between laravel SANCTUM and PASSPORT by ( Program With Gio ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=edcTejycirk&ab_channel=AndrewSchmelyun" target="_blank">Differance between laravel SANCTUM and PASSPORT by ( Andrew Schmelyun ) </a>
                                        </li>


                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is laravel caching ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=6eJMRMgn6mI&pp=ygUXd2hhdCBpcyBsYXJhdmVsIGNhY2hpbmc%3D" target="_blank">Laravel Caching concept by ( Kinsa ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=wruLQdLi8S4&ab_channel=QaziHamayun" target="_blank">Laravel Caching concept by ( Qazi Humayon ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=o6KSXflgqUo&ab_channel=QaziHamayun" target="_blank">Laravel Caching, How to install redis cache server concept by ( Qazi Humayon ) </a>
                                        </li>


                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Throttling in Laravel ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=uZucUvUjvho&ab_channel=QaziHamayun" target="_blank">Laravel Throttling concept by ( Qazi Humayon ) </a>
                                        </li>


                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Pusher in Laravel ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=cHZpw-gdyN4&t=300s&pp=ygUZd2hhdCBpcyBwdXNoZXIgaW4gbGFyYXZlbA%3D%3D&ab_channel=NSTech" target="_blank">Pusher in Laravel concept by ( NS Tech ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=ER-wOKXrbuw&ab_channel=CodewithRoss" target="_blank">Pusher in Laravel concept by ( Code With Ross ) </a>
                                        </li>

                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Elastic Search in Laravel ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=bcsII2dGnDU&list=PLA3GkZPtsafYd5m2BXmkL9pjsBKy0FQ2X&ab_channel=EngineeringDigest" target="_blank">Elastic Search in Laravel concept by ( Engineering Digest ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=ZP0NmfyfsoM&ab_channel=IBMTechnology" target="_blank">Elastic Search in Laravel concept by ( IBM Technology ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=upvaxy7zj60&ab_channel=Intellipaat" target="_blank">Elastic Search in Laravel concept by ( IntelliPaat ) </a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
