<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Way Of Communication Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                    How to imporve way of communication skills ?
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>

                                        <li>
                                            <a href="https://www.youtube.com/watch?v=hE6I9apUvrk&t=8s&ab_channel=SandeepMaheshwari" target="_blank">Communication Skills Interview Preparation - Explained By ( Sandeep Maheshwari ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=xRs_l-oCyI0&ab_channel=QasimAliShah" target="_blank">Communication Skills Interview Preparation - Explained By ( Qasim Ali Shah ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=2L3QiMApuhg&ab_channel=LearnKurooji" target="_blank">Communication Skills Interview Preparation - Explained By ( Learn Kurooji ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=X3MG4fEJiF0&ab_channel=RanveerAllahbadia" target="_blank">Communication Skills Interview Preparation - Explained By ( Ranveer Allahbadia ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=otr4Hmw7WyY&ab_channel=HishamSarwar" target="_blank">Communication Skills Interview Preparation - Explained By ( Hisham Sarwar ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=srn5jgr9TZo&ab_channel=SimerjeetSingh" target="_blank">Communication Skills Interview Preparation - Explained By ( Simerjeet Singh ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=VIpI-iv0qNk&ab_channel=MuhammadAliBayan" target="_blank">Communication Skills Interview Preparation - Explained By ( Muhammad Ali Bayan ) </a>
                                        </li>



                                        <hr>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
