<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            PortFolio and Projects Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="referencesHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading"
                                    >
                                        PortFolio and Projects ( LARAVEL )

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading"
                                class="collapse"
                                aria-labelledby="referencesHeading"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://drive.google.com/file/d/17XXTD9UUSFd3qmSqabBoIMk6xGb5hyYX/view?usp=sharing" target="_blank"> Laravel Zip Project Links ( Google Drive ) </a>
                                        </li>

                                        <hr>

                                        <section>
                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Dalua Illumagic</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1x8C_EArA1UR03anXMBzMf-U-Rh608YiQ/view" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Google Drive ) </a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/Dalua_Project/tree/main" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( GitHub Zip File ) </a>
                                            </li>
                                            <li>
                                                <a href="https://alikashi543211.github.io/Projects_Catalogue/dalua_detail.html" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Project Detail ) </a>
                                            </li>
                                            <li>
                                                <a href="http://localhost/GithubPortFolio/Dalua/dalua-laravel-app/public/" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Localhost Project Demo ) </a>
                                            </li>
                                            <li>
                                                <a href="http://localhost/phpmyadmin/index.php?route=/database/structure&server=1&db=devstudio_dalua" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Localhost Project Database Demo ) </a>
                                            </li>
                                            <li>
                                                <a href="C:\xampp\htdocs\GithubPortFolio\Dalua\dalua-laravel-app" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Copy Local System Path ) </a> <br>
                                                C:\xampp\htdocs\GithubPortFolio\Dalua\dalua-laravel-app
                                            </li>
                                            <li>
                                                <a href="https://daluawholesale.com.au/" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Live Link ) </a>
                                            </li>
                                        </section>

                                        <hr>

                                        <section>
                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Dalua Illumagic</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1x8C_EArA1UR03anXMBzMf-U-Rh608YiQ/view" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Google Drive ) </a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/Dalua_Project/tree/main" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( GitHub Zip File ) </a>
                                            </li>
                                            <li>
                                                <a href="https://alikashi543211.github.io/Projects_Catalogue/dalua_detail.html" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Project Detail ) </a>
                                            </li>
                                            <li>
                                                <a href="http://localhost/GithubPortFolio/Dalua/dalua-laravel-app/public/" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Localhost Project Demo ) </a>
                                            </li>
                                            <li>
                                                <a href="http://localhost/phpmyadmin/index.php?route=/database/structure&server=1&db=devstudio_dalua" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Localhost Project Database Demo ) </a>
                                            </li>
                                            <li>
                                                <a href="C:\xampp\htdocs\GithubPortFolio\Dalua\dalua-laravel-app" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Copy Local System Path ) </a> <br>
                                                C:\xampp\htdocs\GithubPortFolio\Dalua\dalua-laravel-app
                                            </li>
                                            <li>
                                                <a href="https://daluawholesale.com.au/" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Live Link ) </a>
                                            </li>
                                        </section>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
