<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Technologies - JavaScript Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        JavaScript MCQs Interview

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.w3schools.com/js/js_quiz.asp" target="_blank">JavaScript Tech Interview Preparation ( W3Schools ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.wscubetech.com/quiz-test-javascript" target="_blank">JavaScript Tech Interview Preparation ( WsCubeTech ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.interviewbit.com/javascript-mcq/" target="_blank">JavaScript Tech Interview Preparation ( InterviewBit ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://codescracker.com/exam/showtest.php?subid=6" target="_blank">JavaScript Tech Interview Preparation ( Codes Cracker ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.javatpoint.com/javascript-quiz" target="_blank">JavaScript Tech Interview Preparation ( JavaPoint ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.sanfoundry.com/1000-javascript-questions-answers/" target="_blank">JavaScript Tech Interview Preparation ( SanFoundry ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://tutorialslink.com/mcq-quiz/java-script-mcq-quiz-multiple-choice-questions-and-answers" target="_blank">JavaScript Tech Interview Preparation ( TutorialsLink ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://learninginsight.org/competitive-exam/javascript-mcqs" target="_blank">JavaScript Tech Interview Preparation ( LearningInsight ) MCQs</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                        JavaScript Interview References
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=9rmL_DsqAZQ&ab_channel=Simplilearn" target="_blank">JavaScript Interview Questions - JavaScript Concepts By ( Simplilearn ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=tOo9c6SK_do&ab_channel=TanayPratap" target="_blank">JavaScript Interview Questions - JavaScript Concepts By ( Tanay Pratap ) </a>
                                        </li>

                                        <li>
                                            <a href="https://www.youtube.com/watch?v=qyPKOB9bPG8&list=PL-Jc9J83PIiFU_evuYnTGHVXU_LeZryNP&ab_channel=Pepcoding" target="_blank">JavaScript Interview Questions - JavaScript Concepts By ( Pepcoding ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=OEQpRTXfxoo&ab_channel=InterviewHappy" target="_blank">JavaScript Interview Questions - JavaScript Concepts By ( Interview Happy ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Zb4dPi7CANU&ab_channel=Questpond" target="_blank">JavaScript Interview Questions - JavaScript Concepts By ( Questpond ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=qJGR9lLcRc0&ab_channel=SheryiansCodingSchool" target="_blank">JavaScript Interview Questions - JavaScript Concepts By ( SheryiansCodingSchool ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=2IPEp_4obGw&ab_channel=SheryiansCodingSchool" target="_blank">JavaScript DOM Manipulation - JavaScript Concepts By ( SheryiansCodingSchool ) </a>
                                        </li>


                                        <hr>

                                        <!-- Laravel Request Life Cycle -->

                                        <!-- <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is API ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.includehelp.com/mcq/laravel-mcqs.aspx" target="_blank">Laravel Tech ( Include Help ) MCQs</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
