<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Technologies - RxJs Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        RxJs MCQs Interview

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.javatpoint.com/rxjs-interview-questions" target="_blank">RxJs Tech ( JavaPoint ) MCQs</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                        RxJs Interview References
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=dPqsP84GOwE&list=PLLhsXdvz0qjI68a8tLUUMyXmNhl608mcn&index=2&ab_channel=UXTrendz" target="_blank"> RxJs Interview Questions - RxJs Concepts By ( UxTrendz )  </a>
                                        </li>
                                        <li>
                                            <a href="https://www.javatpoint.com/rxjs-interview-questions" target="_blank">RxJs Interview Preparation - RxJs Concepts By ( JavaPoint ) </a>
                                        </li>
                                        <li>
                                            <a href="https://gist.github.com/GeoffMahugu/bf4d16609b3a3eec02b9819f6ce92161" target="_blank">RxJs Interview Preparation - RxJs Concepts By ( GitHub ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=nrEbLLmVBrc&ab_channel=ARCTutorials" target="_blank">RxJs Interview Preparation - RxJs Concepts By ( ACRTutorials ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=eUYigtm3Sdc&ab_channel=Questpond" target="_blank">RxJs Interview Preparation - RxJs Concepts By ( Questpond ) </a>
                                        </li>


                                        <hr>

                                        <!-- Laravel Request Life Cycle -->

                                        <!-- <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is API ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.includehelp.com/mcq/laravel-mcqs.aspx" target="_blank">Laravel Tech ( Include Help ) MCQs</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
