<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Healthy Life Style Preparation
        </h1>
        <!-- <small>
            Mera Allah Tujhe Bibi Sakina (s.a) k har Dukh ka wasta Mujhe Har
            Dukh se mahfooz rakh agar hey. Agar Nahi Hey To Aaaney waley Dukhon sey mujhe mahfooz Rakh. Elahi Ameen.
        </small> -->
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="referencesHeading7">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading7"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading7"
                                    >
                                        Healthy Life References

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading7"
                                class="collapse"
                                aria-labelledby="referencesHeading7"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=CD4SLDP0boA&ab_channel=MisterProton" target="_blank">Healthy Life Routine Explained By ( Mister Proton ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=ARku6Uh2dhs&ab_channel=IrfanAzeem" target="_blank">Healthy Life Routine - Walk -  Explained By ( Irfan Azeem ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=PG2f3GF5RlI&ab_channel=Roberta%27sGym" target="_blank">Healthy Life Routine - Excercise -  Explained By ( Mister Proton ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=awtSRzXkVqE&ab_channel=JoannaSohOfficial" target="_blank">Healthy Life Routine - Constipation Excercise -  Explained By ( Mister Joannah Soh Official ) </a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading"
                                    >
                                        Life Style ( Morning )

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading"
                                class="collapse"
                                aria-labelledby="referencesHeading"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=DuX7De5xGBE&ab_channel=Rewirs" target="_blank">Morning Life Style Best Practises Explained By ( Rwirs ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=8wS2y8AoODs&ab_channel=MisterProton" target="_blank">Morning Life Style Best Practises Explained By ( Mister Proton ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=NPgnFC5vU5k&ab_channel=TheThriveVortex" target="_blank">Morning Life Style Best Practises Explained By ( The Thrive Vortex ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=1kPpePHxKBY&ab_channel=TheFormalEdit" target="_blank">Morning Life Style Best Practises Explained By ( The Formal Edit ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=JAyh-rTw0Yo&pp=ygUbYmVzdCBoZWFsdGh5IG1vcm5pbmcgaGFiaXRz&ab_channel=TheYogaInstitute" target="_blank">Morning Life Style Best Practises Explained By ( Doctors Circle ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=8-_OciwHB5w&ab_channel=Doctors%27CircleWorld%27sLargestHealthPlatform" target="_blank">Morning Life Style Best Practises Explained By ( The Yoga Institute ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=2dGnvdaWJYQ&ab_channel=drbole.com" target="_blank">Morning Life Style Best Practises Explained By ( Droble.Com ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Af5onlX1g_c&ab_channel=SAAOLHeartCenter" target="_blank">Morning Life Style Best Practises Explained By ( SAAOL Heart Center ) </a>
                                        </li>


                                        <hr>
                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Morning Life Style Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                Tube Brush<br>
                                                Ghararey Namak Paani<br>
                                                5 - 8 Glass Fresh Water<br>
                                                Salt Shake<br>
                                                Salt Lassi<br>
                                                Baadaam <br>
                                                Roti Saalan with Dahi<br>
                                                Walk For 15 Minutes <br>
                                                Excercise - Static Body and Avoid from Thinking - For Mentally Power Gain<br>
                                            </p>
                                        </li>

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Mid Morning Life Style Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                2 Glass Fresh Water<br>
                                                Kheerey<br>
                                                Fruits <br>
                                                Walk For 15 Minutes <br>
                                                Excercise - Static Body and Avoid from Thinking - For Mentally Power Gain<br>
                                            </p>
                                        </li>




                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What will be Best Morning Diet For Piles Disease Recovery ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Ltx9TSrJMzQ&ab_channel=TheSurgicalScholar" target="_blank">Diet For Piles Patient Explained By ( Surgical Scholor ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=E9_K9E3JSAE&ab_channel=HealingHospitalChandigarh" target="_blank">Diet For Piles Patient Explained By ( Healing Hospital Chandigarh ) </a>
                                        </li>

                                        <li>
                                            <a href="https://www.youtube.com/watch?v=x-MjZ6rCGYA&ab_channel=GautamJaniOfficial" target="_blank">Diet For Piles Patient Explained By ( Gautam Jani Official ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Jvq0zGjJrwM&t=49s&ab_channel=DrChintanBPatel-BestBariatric%2FLaparoscopic%26GeneralSurgeoninSurat%2CGujarat%2CIndia" target="_blank">Diet For Piles Patient Explained By ( Dr Chintan B Patel ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=TjprgzwuMsU&ab_channel=TheYogaInstitute" target="_blank">Diet For Piles Patient Explained By ( The Yoga Institute ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=DG3gLKOZFz0&ab_channel=DrAchuthaGupta" target="_blank">Diet For Piles Patient Explained By ( Dr Achutha Gupta ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=oeG_iA6uD0Y&ab_channel=RedcliffeLabs" target="_blank">Diet For Piles Patient Explained By ( Red Cliffe Labs ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=qbOZa4MIdLM&ab_channel=Shomu%27sBiology" target="_blank">Diet For Piles Patient Explained By ( Shomu Biology ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=95OHsdcVjz0&ab_channel=MedToday" target="_blank">Diet For Piles Patient Explained By ( MedToday ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=F7Rp3mjH1HU&ab_channel=SehatZindagi" target="_blank">Diet For Piles Patient Explained By ( Sehat Zindagi ) </a>
                                        </li>


                                        <hr>
                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What are Morning Excercise Benefits and Tips ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=7OdjFz6zI3s&ab_channel=Dr.KhalidJamilAkhtar" target="_blank">Excercise Benefits and Tips Explained By ( Dr Khalid Jamil ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=p-o2_cMbg3o&ab_channel=Dr.KhalidJamilAkhtar" target="_blank">Excercise Benefits and Tips - Mentally Stress Solution - Explained By ( Dr Khalid Jamil ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=PUoRS3xgxJI&pp=ygUbZXhjZXJjaXNlIGJlbmVmaXRzIGFuZCB0aXBz&ab_channel=HealthMatters" target="_blank">Excercise Benefits and Tips - Mentally Stress Solution - Explained By ( Health Matters ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=haRSl3mThoY&ab_channel=yebook" target="_blank">Excercise Benefits and Tips - Explained By ( Yebook ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=RWC1rEFVHtU&ab_channel=Healthsubzwari" target="_blank">Excercise Benefits and Tips - Explained By ( Health Subzwari ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=0p1HKw3e_Pw&ab_channel=Beautyrecipes" target="_blank">Excercise Benefits and Tips - Explained By ( Health Subzwari ) </a>
                                        </li>


                                        <hr>
                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>What is Best Morning BreakFast ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Sw6RICTGwSY&ab_channel=GunjanShouts" target="_blank">Best Morning Breakfast Explained By ( Gunja Shouts ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=F3LRo8LF1xc&ab_channel=TheGastroLiverHospitalKanpur" target="_blank">Best Morning Breakfast Explained By ( Gastro Liver Hospital ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=gfmJD96yd38&ab_channel=TheSeriousfitness" target="_blank">Best Morning Breakfast Explained By ( The Serious Fitness ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=idi6ka6wygw&ab_channel=MarhamFindADoctor" target="_blank">Best Morning Breakfast Explained By ( Marham Find A Doctor ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=WaLQuOtWAbA&pp=ygUebW9ybmluZyBoZWFsdGh5IGRpZXQgYnJlYWtmYXN0&ab_channel=ABHINAVMAHAJAN" target="_blank">Best Morning Breakfast Explained By ( ABHINAV MAHAJAN ) </a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading1">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading1"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading1"
                                    >
                                        Life Style ( AfterNoon )

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading1"
                                class="collapse"
                                aria-labelledby="referencesHeading1"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=EmSBuL-TBrg&ab_channel=Rewirs" target="_blank">AfterNoon Healthy Life Routine Explained By ( Rewirs ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Fw1HKAOyO54&ab_channel=FitTuber" target="_blank">AfterNoon Healthy Life Routine Explained By ( Fit Tuber ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=p9VMlqXKzEk&ab_channel=RUUCHISTYYLECORNR" target="_blank">AfterNoon Healthy Life Routine Explained By ( RUUCHI STYYLE CORNR ) </a>
                                        </li>
                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Afternoon Life Style Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                2 Glass Fresh Water<br>
                                                Kheerey<br>
                                                Fruits <br>
                                                Saalan Roti With Dahi<br>
                                                Walk For 15 Minutes <br>
                                                Excercise - Static Body and Avoid from Thinking - For Mentally Power Gain<br>
                                            </p>
                                        </li>

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Mid Afternoon Life Style Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                2 Glass Fresh Water<br>
                                                Kheerey<br>
                                                Fruits <br>
                                                Saalan Roti With Dahi<br>
                                                Walk For 15 Minutes <br>
                                                Excercise - Static Body and Avoid from Thinking - For Mentally Power Gain<br>
                                            </p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading2">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading2"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading2"
                                    >
                                        How to avoid from Worms?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading2"
                                class="collapse"
                                aria-labelledby="referencesHeading2"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=xFczWW19ung&ab_channel=TheWhizDoc" target="_blank">How to avoid from worms? Explained by ( TheWhizDoc ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=_-bGNRF40_k&ab_channel=LearnMedicineAsap" target="_blank">How to avoid from worms? Explained by ( Learn Medicine Asap ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=2LBMv0lJf9E&ab_channel=ThyDocHealth" target="_blank">How to avoid from worms? Explained by ( ThyDoc Health ) </a>
                                        </li>
                                        <li>
                                            Avoid Sugar in Morning<br>
                                            Biscuits - No<br>
                                            Sugar Roti in Morning - No<br>
                                            Lemon Water<br>
                                            Sugar Shake - No<br>
                                            Salt Lassi in Morning - Yes<br>
                                            Nales Eat - No<br>
                                            Hand Wash baar baar karney hen<br>
                                            Nahaana<br>
                                            Fresh Dresses<br>


                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading3">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading3"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading3"
                                    >
                                        Life Style ( Night )

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading3"
                                class="collapse"
                                aria-labelledby="referencesHeading3"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=p9VMlqXKzEk&ab_channel=RUUCHISTYYLECORNR" target="_blank">Night Healthy Life Routine Explained By ( RUUCHI STYYLE CORNR ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=AF8ykw6IKQQ&ab_channel=GunjanShouts" target="_blank">Night Healthy Life Routine Explained By ( GunjanShouts ) </a>
                                        </li>
                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Night Life Style Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                2 Glass Fresh Water<br>
                                                Fruits <br>
                                                Saalan Roti With Dahi<br>
                                                Walk For 15 Minutes <br>
                                                Excercise - Static Body and Avoid from Thinking - For Mentally Power Gain<br>
                                            </p>
                                        </li>

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Mid Night Life Style Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                2 Glass Fresh Water<br>
                                                Fruits <br>
                                                Saalan Roti With Dahi<br>
                                                Walk For 15 Minutes <br>
                                                Excercise - Static Body and Avoid from Thinking - For Mentally Power Gain<br>
                                            </p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="referencesHeading4">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading4"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading4"
                                    >
                                        Life Style ( Office )

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading4"
                                class="collapse"
                                aria-labelledby="referencesHeading4"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>

                                        <li>
                                            <p>
                                                Search and Rsearch Until solution is confirmed<br>
                                                Communication way to understand and express thoughts.<br>
                                                What is time to complete this task? Almost is answer.<br>
                                                Think about solution on paper.
                                            </p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="referencesHeading5">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading5"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading5"
                                    >
                                        Week Days

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading5"
                                class="collapse"
                                aria-labelledby="referencesHeading5"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Friday Life Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                Friday Ziyaarat<br>
                                                Friday Dua<br>
                                                Hair Cutting<br>
                                                Use of Perfume and Cream<br>
                                                White Dress<br>
                                                Nales Cutting<br>
                                                10 AM - 7 PM For Out Of Home For Work<br>
                                            </p>
                                        </li>


                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Saturday Life Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                Saturday Ziyaarat<br>
                                                Saturday Dua<br>
                                                10 AM - 7 PM For Out Of Home For Work<br>
                                            </p>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Sunday Life Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                Sunday Ziyaarat<br>
                                                Sunday Dua<br>
                                                10 AM - 7 PM For Out Of Home For Work<br>
                                            </p>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Monday Life Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                Monday Ziyaarat<br>
                                                Monday Dua<br>
                                                10 AM - 7 PM For Out Of Home For Work<br>
                                            </p>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Tuesday Life Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                Tuesday Ziyaarat<br>
                                                Tuesday Dua<br>
                                                10 AM - 7 PM For Out Of Home For Work<br>
                                            </p>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Wednesday Life Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                Wednesday Ziyaarat<br>
                                                Wednesday Dua<br>
                                                10 AM - 7 PM For Out Of Home For Work<br>
                                            </p>
                                        </li>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Thursday Life Priorities</strong>
                                        </li>
                                        <li>
                                            <p>
                                                Thursday Ziyaarat<br>
                                                Thursday Dua<br>
                                                10 AM - 7 PM For Out Of Home For Work<br>
                                            </p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
