<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Databases - SQL Query Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        SQL Query Server MCQs Interview

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.examtiger.com/mcq/sql-query-language-4/" target="_blank">SQL Query Tech Interview Preparation ( Exam Tiger ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://tutorialslink.com/mcq-quiz/sql-structured-query-language-mcq-quiz-multiple-choice-questions-and-answers" target="_blank">SQL Query Tech Interview Preparation ( TutorialsLink ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.edureka.co/blog/interview-questions/sql-query-interview-questions" target="_blank">SQL Query Tech Interview Preparation ( Edureka ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.proprofs.com/quiz-school/story.php?title=multiple-choice-questions-sql" target="_blank">SQL Query Tech Interview Preparation ( Pro Prfs ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.w3schools.com/sql/sql_quiz.asp" target="_blank">SQL Query Tech Interview Preparation ( W3Schools ) MCQs</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                    SQL Query Server Interview References
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>

                                        <li>
                                            <a href="https://www.youtube.com/watch?v=niFUzvtGyLs&ab_channel=LearnCoding" target="_blank">SQL Query Interview Preparation - Queries By ( Learn Coding ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=sa6_kqlglLs&list=PLKVxK2jv1oA8NVpIurkOWiUcK13q8G2hw&ab_channel=CodingGlitz" target="_blank">SQL Query Interview Preparation - Queries By ( Coding Glitz ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=UlXtfq-kuF4&ab_channel=CodeEra" target="_blank">SQL Query Interview Preparation - Queries By ( CodeEra ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=-6v7ctxC7yk&list=PLqM7alHXFySGweLxxAdBDK1CcDEgF-Kwx&ab_channel=GeeksforGeeks" target="_blank">SQL Query Interview Preparation - Queries By ( GeeksForGeeks ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=AhapksIsHxg&list=PL2-GO-f-XvjBl5fpzdfYaPW28PwsLzLc4&ab_channel=LearnatKnowstar" target="_blank">SQL Query Interview Preparation - Queries By ( LearnatKnowstar ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=DMBtRCvords&list=PLUDwpEzHYYLu1Sxfwtvbr8kzd7uNd8jIS&ab_channel=SDET-QAAutomationTechie" target="_blank">SQL Query Interview Preparation - Queries By ( QAAutomationTechie ) </a>
                                        </li>


                                        <hr>

                                        <!-- Laravel Request Life Cycle -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Find nth Highest salary in SQL Query ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=lphtqFZ-iQc&ab_channel=CodingGlitz" target="_blank">SQL Query Tech - Nth Highest Salary of Employee ( Coding Glitz )</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
