<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            DSA (Data Structure and Algorithm) Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        DSA MCQs Interview

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://examradar.com/mcqs/data-structure-mcqs/" target="_blank">Data Structure ( ExamRadar ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.sanfoundry.com/1000-data-structure-questions-answers/" target="_blank">Data Structure ( Sanfoundry ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.javatpoint.com/data-structure-mcq" target="_blank">Data Structure ( Java Point ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.geeksforgeeks.org/top-50-data-structures-mcqs-with-answers/" target="_blank">Data Structure ( GeeksForGeeks ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gkseries.com/computer-engineering/data-structure/multiple-choice-questions-and-answers-2" target="_blank">Data Structure ( GkSeries ) MCQs</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading"
                                    >
                                        DSA Interview References

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading"
                                class="collapse"
                                aria-labelledby="referencesHeading"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=u8JZ9gU5o4g&list=PLxCzCOWd7aiHcmS4i14bI0VrMbZTUvlTa&ab_channel=GateSmashers" target="_blank">Gate Smashers DSA - Youtube Playlist</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=u8JZ9gU5o4g&list=PLxCzCOWd7aiHcmS4i14bI0VrMbZTUvlTa&ab_channel=GateSmashers" target="_blank">Bang On Theory - Youtube 1 Hour Video</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=4SJT6D6cUYA&ab_channel=MridulSrivastava" target="_blank">Mirdul Srivastava - Youtube 17 Minutes Video</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=n24UcpMnTn0&ab_channel=CareerRide" target="_blank">CareerRide - Data Structure Interview Questions</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Rtr1hvyOlh0&ab_channel=CareerRide" target="_blank">CareerRide - Data Structure MCQs Type Interview Questions</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=uhYq27iSk9s&ab_channel=NeetCode" target="_blank">NeetCode - Top 8 Data Structure Interview Questions</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
