<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height: 5000px;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="sb2_dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Kashif Ali Portal</div>
    </a>



    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="sb2_dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" routerLink="sb2_dashboard/general_interview">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>General Interview</span>
        </a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" routerLink="sb2_dashboard/oop_concepts">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>OOP Concepts</span>
        </a>
    </li>

        <!-- Nav Item - Data Structure -->
    <li class="nav-item">
        <a class="nav-link" routerLink="sb2_dashboard/data_structure">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Data Structure</span>
        </a>
    </li>

    <!-- Nav Item - Technologies Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseTechnologies"
            aria-expanded="true" aria-controls="collapseTechnologies">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Technologies</span>
        </a>
        <div id="collapseTechnologies" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/laravel">Laravel</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/api_concepts">Api Concepts</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/php">PHP</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/angular">Angular</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/rxjs">RxJs</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/typescript">TypeScript</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/javascript">JavaScript</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/jquery">jQuery</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/react">React</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/vue_js">Vue Js</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/bootstrap">Bootstrap</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/ajax">Ajax</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/git">Git</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/firebase">FireBase</a>
                <a class="collapse-item" routerLink="sb2_dashboard/technologies/aws">AWS</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProblems"
            aria-expanded="true" aria-controls="collapseProblems">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Problem Solving</span>
        </a>
        <div id="collapseProblems" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="sb2_dashboard/problem_solving/array">String</a>
                <a class="collapse-item" routerLink="sb2_dashboard/problem_solving/array">Array</a>
                <a class="collapse-item" routerLink="sb2_dashboard/problem_solving/array">Binary Tree</a>
                <a class="collapse-item" routerLink="sb2_dashboard/problem_solving/array">Graph</a>
                <a class="collapse-item" routerLink="sb2_dashboard/problem_solving/array">Linked List</a>
                <a class="collapse-item" routerLink="sb2_dashboard/problem_solving/array">Matrix</a>
                <a class="collapse-item" routerLink="sb2_dashboard/problem_solving/array">Stack</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Databases Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCodeStandard"
            aria-expanded="true" aria-controls="collapseCodeStandard">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Coding Standard</span>
        </a>
        <div id="collapseCodeStandard" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="sb2_dashboard/coding_standard/laravel">Laravel</a>
                <a class="collapse-item" routerLink="sb2_dashboard/coding_standard/angular">Angular</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Databases Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseDatabases"
            aria-expanded="true" aria-controls="collapseDatabases">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Databases</span>
        </a>
        <div id="collapseDatabases" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="sb2_dashboard/databases/mysql">SQL Server</a>
                <a class="collapse-item" routerLink="sb2_dashboard/databases/sql">SQL in PHP</a>
                <a class="collapse-item" routerLink="sb2_dashboard/databases/laravel_queries">Laravel Queries</a>
            </div>
        </div>
    </li>

    <!-- Experience Interview -->
    <li class="nav-item">
        <a class="nav-link" routerLink="sb2_dashboard/experience_interview">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Communication Way</span>
        </a>
    </li>

    <!-- Final Interview -->
    <li class="nav-item">
        <a class="nav-link" routerLink="sb2_dashboard/final_interview">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Final Interview</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
        <li class="nav-item">
            <a class="nav-link" routerLink="sb2_dashboard/live_links">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Live Links</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="sb2_dashboard/cv">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>CV</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="sb2_dashboard/portfolio">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Portfolio & Projects</span>
            </a>
        </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <li class="nav-item">
        <a class="nav-link" routerLink="sb2_dashboard/life_style">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Life Style</span>
        </a>
    </li>
</ul>
<!-- End of Sidebar -->

