<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            General Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        Introduce yourself

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <p>Description is here</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                        How many experience do you have?
                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <p>Description is here</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree"
                                    >
                                        What type of projects you have worked ?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseThree"
                                class="collapse"
                                aria-labelledby="headingThree"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <p>Description is here</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading"
                                    >
                                        What is your current salary and expected salary ?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <p>Description is here</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading1">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading1"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading1"
                                    >
                                        Can you show demo of all of your projects in your experienced career ?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading1"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading1"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <p>Description is here</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading2">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading2"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading2"
                                    >
                                        Why do you want to switch your job ?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading2"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading2"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <p>Description is here</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading22">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading22"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading22"
                                    >
                                        Why you quit the previous job ?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading22"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading22"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <p>Description is here</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading23">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading23"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading23"
                                    >
                                        Can you share us the salary slip of last month in previous company or Experience letter ?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading23"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading23"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <p>Description is here</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading3">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading3"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading3"
                                    >
                                        Why do you want to do remote job ?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading3"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading3"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <p>Description is here</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading4">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsecurrentSalaryHeading4"
                                        aria-expanded="false"
                                        aria-controls="collapsecurrentSalaryHeading4"
                                    >
                                        Why we should hire you? Are you fit for this job?

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsecurrentSalaryHeading4"
                                class="collapse"
                                aria-labelledby="currentSalaryHeading4"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <p>Description is here</p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
